<section id="content-receipt" class="clearfix">
      <div id="receipt-container">
        <div class="dotmatrix left"></div>
        <div id="receipt-content">
          <h4 id="receipt-title">Thank You!</h4>
          <p><strong>RECEIPT</strong></p>
          <div id="receipt-details" class="row clearfix">
            <div class="col-sm-8 receipt-left">
              <p><strong class="font-weight-heavy">Your Product</strong><br/> <span class="font-weight-light">What you sold</span></p>
            </div>
            <div class="col-sm-4">
              $4.99
            </div>
          </div>
        
        <a href="https://rails-paymen-bucket.s3.us-east-1.amazonaws.com/gatito.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIASRN4RX2FG5ZOVADS%2F20250822%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250822T024933Z&X-Amz-Expires=300&X-Amz-Security-Token=IQoJb3JpZ2luX2VjELP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIFtJ%2F740pnjBrN%2B0uqjJ4x0a3ElFNRIHS6rDOxIFqECuAiEA%2BWt6bmZeT0G7eGBBmm5vLWHW5YXUuL4vmpc50KwZGZcq4wII%2FP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgwxNzQ4Nzg0NzM4NjYiDO7%2FNV87WtP3onCTmyq3AqOERwCQmCm51SCRt82jv0vQm11XAd992qe9njJiD7rQ8ixb5pwcAZbSYPyUBBR4bDUtDW9%2FqXnq88e%2BZxvwHUb63mGESLz2r7sXq7H2HLQ3gE3JJOq%2BV6dJqUY%2BW1rivouHD535vBK5T4PIUtHzX9edpfJ1kpiOLgWA%2BWQLbkBjxBb%2BfB5CqYGBWNt3R7EnldaZ34Zz%2FhN18QNmrpl0EmXcTEOu5rGOs7wMgZOxfqB1p%2FTqJ3WC9lYLyNVeaxDrbdesE%2B8oEwzcq983BDPfumewhYqt2y5XD51dOKvVeV2%2BUTQlnXuvLAcGLuEp1Tqm3eTKdwQz0xna9LuEZxYdd1w94L1sobtC2LPrWS6h09IxNqRi6jekSS3mSXKHnhQHGLmOivFzPNq0d8oZvQgZkLw%2FENLACfKkMK%2Bbn8UGOq0CzULJGhzfCiYLJ7Qz3wOrbwqwzcp%2FccEQkDQ%2B7twy43fzPWnuOEg1zXCKbAC2RfK7KLlzN25Bd1iMP7NJFI8%2FRhV7smXl%2BYBLKPtz4eXtK3GWeU8BmGItJYBxvP0LYS2P1Alxj1Yf8hQ0RcwL97jC%2FY76ug6%2FkJS5tKWtlmnJBlg%2F3dWRNd87LIgWsnuTyiyhYnditJVPE9mZAGuFec0kr89nkyHUCr9%2BPKq%2FONGx7pE5Sxnl7rQS6M5xpoCTNp%2BfJDTreK8H8QLZWgVm8F6CGQpE%2FS2A21N%2BqKQ1Ep5Uwkkp05miOTRRvuDpnpaGv%2FZxSReKi7XKlGVXAtH%2F8HRwpOIkiIuY%2FkUqvEHxfDrZP9wDHfSX9nOKU9wJZP12gsW08fMC3T9izr9LF6Fz2Q%3D%3D&X-Amz-Signature=a1712eb7d0e7100624bdce80714aedee63d2713a33418db49139c8c20b972534&X-Amz-SignedHeaders=host&response-content-disposition=inline">

          <button type="button" class="btn btn-success btn-xs">DOWNLOAD</button></a>
          <footer id="receipt-footer">
            <small>Your purchase is complete. We hope you enjoy it!</small>
          </footer>
        </div>
        <div class="dotmatrix right"></div>
      </div>
      <div id="receipt-shadow"></div>
    </section>