<section id="content-receipt" class="clearfix">
      <div id="receipt-container">
        <div class="dotmatrix left"></div>
        <div id="receipt-content">
          <h4 id="receipt-title">Thank You!</h4>
          <p><strong>RECEIPT</strong></p>
          <div id="receipt-details" class="row clearfix">
            <div class="col-sm-8 receipt-left">
              <p><strong class="font-weight-heavy">Your Product</strong><br/> <span class="font-weight-light">What you sold</span></p>
            </div>
            <div class="col-sm-4">
              $4.99
            </div>
          </div>
        
        <a href="https://rails-paymen-bucket.s3.us-east-1.amazonaws.com/gatito.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIASRN4RX2FABQOHNTM%2F20250822%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250822T023517Z&X-Amz-Expires=300&X-Amz-Security-Token=IQoJb3JpZ2luX2VjELP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIHELpI6APm%2B%2F0u5wdREYIz%2Br52s6nbkowwYhG%2FAl%2FahWAiAWoJ3wkj9xV2abhstVgNALlQbPe61VXqnvqgRTeK2nSirjAgj8%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDE3NDg3ODQ3Mzg2NiIMWW45KfFRJDhQHi9eKrcC0eftG3iBrccq8eVW0BY3X83G1MPoRLv5FG3hb9i1xv%2Fs%2Bt%2BxbaRHG1KWTHpiH4AFAhk1hWe9tYE6Y5yG2imyMgJa2fPzE54QkOcGtwKtlpz0cfALZ%2FZwyGFX7kkwLLazhPWV5X5QzAHcuOJ%2FoxHCeoNRVNpl0aHs1w350zvPPMg2licXqGDcZRx625C9ZgzHR9ZMUQ74G%2FVyvmcACox1mci8xPLE9pI1GxoRLa7bMYpPeLN7ZxdPVnpi83fIoECA8cfbbCf3QgAh4LthrVgnZuqRCtuIAtslwSvDPgkrzBlLw8JdRb%2Finrk6hStjdQXDHYjrGlmcbotvdCOIkVidvz1k73qJP0ItWQ7aHW09JOFQlmIDFvoiNUMj8dsMMQr9mKM7CCQZLlV85PeW2FjuyYhtoZqHPqswr5ufxQY6rgIKKC7NHvcMfmsMGPOT05b6MulYvxEq%2FqJj76Z5ejUecBF0N35HoZ2H7FofbX40k7j3gO7Sq2a8sU9v0VLsAu%2BcWl5O%2Br2Mw0ic%2Fdyu9Z7zsSiaSskVDdr9l3e%2FsZuLG0eIDJd5txaKu9%2Bjq%2B6fe3S6MiHIKJAtqXpXHcRrJqczmEzKxS17SSp1E9NHDNQ7qZWqnZmmtP8nnDehMxmSRABGKFYF6%2BSCkEhI6ndWwq8zEb0aKy9jx%2FqA9dP%2FK7o%2BGVrM1nDIvZZOSlPEWxF4hGmV9ADwPCqJgr4LOJnJEuqHngOvgkxh03N0PUgTTWhV1%2Fwk70GeRG977%2F1Ums%2FQ2dISUp9R%2FELh5duENdn4hxk7%2BQImsPytlx9YYKYrLfCo6cWtRwW4Z6RNcJZD04bnIw%3D%3D&X-Amz-Signature=1f79e16f58ca6c36ce662dd7257c61cde8fcb59e1e6db85927fe12c4a96cce3c&X-Amz-SignedHeaders=host&response-content-disposition=inline">

          <button type="button" class="btn btn-success btn-xs">DOWNLOAD</button></a>
          <footer id="receipt-footer">
            <small>Your purchase is complete. We hope you enjoy it!</small>
          </footer>
        </div>
        <div class="dotmatrix right"></div>
      </div>
      <div id="receipt-shadow"></div>
    </section>